<mat-sidenav-container >
        <mat-sidenav #sidenav2 mode="over" position="end" class="mat-elevation-z6">
                <mat-nav-list>
                    <a mat-list-item (click)="sidenav2.toggle();" [routerLink]="['/settings']" class="menu-item"><i class="material-icons">settings</i><span class="menu-text">Settings</span></a>
                    <a mat-list-item (click)="sidenav2.toggle();" [routerLink]="['/settings/main']" class="menu-item"><i class="material-icons">visibility</i><span class="menu-text">Lists</span></a>
                    <a mat-list-item (click)="sidenav2.toggle();" [routerLink]="['/settings/main']" class="menu-item"><i class="material-icons">work</i><span class="menu-text">Tables</span></a>
                </mat-nav-list>
        </mat-sidenav>
<mat-sidenav-content>

<navbar (menuClick) = "sidenav2.toggle();"></navbar>
<div class="view-area">
    <router-outlet></router-outlet>
</div>

</mat-sidenav-content>
</mat-sidenav-container>